:root {
    --main-background-color: #fbfff2; 
    --main-font-size: 35px;
    --main-text-color: #021419; 
}

body {
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: var (--main-font-size);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    margin: 100px 0 25px 0;
    width: 100%;
}

h2 {
    margin: 50px; 
}

p {
    margin: 15px;
}

button {
    background-color: rgb(86, 132, 132) ;
    color: var(--main-background-color);
    padding: 25px;
    border-radius: 50%;
}

button:hover {
    background-color:darkslategrey;
}
